<%- include('partials/header'); -%>

  <div>
    <header>
      <div class="heading">
        <h2>VediTrue | Courses</h2>
        <h3>By Designer For Designers</h3>
      </div>
      <div class="gallery-image">
        <div class="img-box">
          <a href="/signup"><img src="/photoshop.png" alt="" /></a>
          <div class="transparent-box">
            <div class="caption">
              <p>Adobe PhotoShop 2021</p>
              <p class="opacity-low">Free Course For Beginners</p>
            </div>
          </div>
        </div>
        <div class="img-box">
          <img src="/ai.jpg" alt="" />
          <div class="transparent-box">
            <div class="caption">
              <p>Adobe Illustrator 2021</p>
              <p class="opacity-low">Free Course For Beginners</p>
            </div>
          </div>
        </div>
        <div class="img-box">
          <img src="/cd.png" alt="" />
          <div class="transparent-box">
            <div class="caption">
              <p>Corel Draw 2020</p>
              <p class="opacity-low">Free Course For Beginners</p>
            </div>
          </div>
        </div>
        <div class="img-box">
          <img src="/figma.jpg" alt="" />
          <div class="transparent-box">
            <div class="caption">
              <p>Introduction To Figma</p>
              <p class="opacity-low">Free Course For Beginners</p>
            </div>
          </div>
        </div>
        <div class="img-box">
          <img src="/canva.jpg" alt="" />
          <div class="transparent-box">
            <div class="caption">
              <p>Canva</p>
              <p class="opacity-low">Free Course For Beginners</p>
            </div>
          </div>
        </div>
        <div class="img-box">
          <img src="/advance-figma.jpg" alt="" />
          <div class="transparent-box">
            <div class="caption">
              <p>Figma</p>
              <p class="opacity-low">Free Course - Advance Level</p>
            </div>
          </div>
        </div>
      </div>
    </header>
  </div>

  <%- include('partials/footer'); -%>