<%- include('partials/header'); -%>

    <h2 class="heading">Your Courses</h2>
    <div class="card-proj">
        <div class="card-content-proj">
            <div class="row">

                <div class="col-proj">
                    <p>
                        <img src="/canva.jpg" class="responsive-img center-block">
                    </p>
                </div>
            </div>
            <ul>
                <li>
                    <a href="/coursePage">
                        <h2>Canva</h2>
                    </a>
                </li>
            </ul>
        </div>
        <div class="card-action">
            <b>Free Course For Beginners</b>
            <br>
            <span>Enrolled</span>
        </div>
    </div>

    <%- include('partials/footer'); -%>